h1 {
    color: rgb(177, 32, 177);
    text-align: center;
    border-color: black;
    background-color: rgb(87, 25, 175);
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 0px;
}

main {
    background-color: aqua;
    display: flex;
    flex-direction: column;
}


.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    color: rgb(177, 32, 177);
    border-top: 30px;
    border-bottom: 30px;
    padding-top: 20px;
    padding: 20px;
    list-style-type: none;
    font-weight: bold;
    flex-wrap: wrap;
}


a {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

section {
    display:flex;
}

.selfie {
    background-color: rgb(87, 25, 175);
    border-color: rgb(87, 25, 175);
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    background-color: rgb(87, 25, 175);
    color: rgb(200, 6, 200);
    font-size: 2.5rem;
    border-left: 250px;
    
}

p {
    font-size: 25px;
    text-indent: 10px;
    

}

#about {
    flex-wrap: wrap;
    background-color: rgb(87, 25, 175);
    color: rgb(200, 6, 200);
    font-size: 2.5rem;
    margin-right: 1600px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 50px;
    width: 280px; 
}

#port {
    flex-wrap: wrap;
    background-color: rgb(87, 25, 175);
    color: rgb(200, 6, 200);
    font-size: 2.5rem;
    margin-right: 1100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 60px;
}

#music {
    flex-wrap: wrap;
    background-color: rgb(87, 25, 175);
    color: rgb(200, 6, 200);
    font-size: 2.5rem;
    margin-right: 1100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 90px;
}

#contact {
    flex-wrap: wrap;
    background-color: rgb(87, 25, 175);
    color: rgb(200, 6, 200);
    font-size: 2.5rem;
    margin-right: 1100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 35px;
}

ul {
    list-style-type: none;
}

body {
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
}